<%- include('../partials/header') %>
        <table id='list'>
            <thead>
                <tr>
                    <th>Cocktail</th>
                    <th>Family</th>
                    <th>Glass</th>
                    <th>Rating</th>
                    <th>Your history</th>
                </tr>
            </thead>
            <tbody>
                <% cocktails.forEach(function(c, i){ %>
                    <tr>
                        <td>
                            <a href='/cocktails/<%= c._id %>'>
                                <%=c.name %>
                            </a>
                        </td>
                        <td>
                            <%= c.family %>
                        </td>
                        <td>
                            <%= c.glass %>
                        </td>
                        <td>
                            <% if (cocktailAverageRatings[i] >= 0) { %>
                                <%= cocktailAverageRatings[i] %> 
                            <% } else { %>
                                No Ratings Yet!
                            <% } %> 
                        </td>
                        <td>
                            <% if (user) { %>
                                <% if (firstReviewedDates[i]) { %>
                                    First reviewed <%= firstReviewedDates[i].toDateString().slice(4) %> 
                                <% } else { %>
                                    Not yet Reviewed
                                <% } %>
                            <% } else { %>
                                Login to view history
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>