<%- include('../partials/header') %>
        <table id='list'>
            <thead>
                <tr>
                    <th>Cocktail</th>
                    <th>Family</th>
                    <th>Glass</th>
                    <th>Rating</th>
                    <th>Your history</th>
                </tr>
            </thead>
            <tbody>
                <% cocktails.forEach(c => { %>
                    <tr>
                        <td>
                            <a href='/cocktails/<%= c._id %>'>
                                <%=c.name %>
                            </a>
                        </td>
                        <td>
                            <%= c.family %>
                        </td>
                        <td>
                            <%= c.glass %>
                        </td>
                        <td>
                           Ratings info goes here <!--FIXME:-->
                        </td>
                        <td>
                            History<!-- FIXME: -->
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>