<%- include('../partials/header') %>
        <% if (user) { %>
            <% if (user._id.equals(cocktail.creatorId)) { %>
                <h4>
                    <a href='/cocktails/<%= cocktail._id%>/edit'>
                        Edit <%= cocktail.name %>
                    </a>
                </h4>
                <form action='/cocktails/<%= cocktail._id %>?_method=DELETE' method='POST' id='delete-cocktail-form'>
                    <button type="submit">DELETE COCKTAIL</button>
                </form>
            <% } %>
        <% } %>
        <h2><%=cocktail.family %></h2>
        <h3><%=cocktail.glass %></h3>
        <p><%= cocktail.directions %></p>
        <h2>Ingredients:</h2>
        <ul>
            <% cocktail.ingredients.forEach(i => { %>
                <li>
                    <%= i.amount %> 
                    <%= i.quantityName %>
                    <a href='/ingredients/<%= i.ingredient._id %>'>
                        <%= i.ingredient.name %>  
                    </a>
                </li>
                <% if (user) { %>
                    <% if (user._id.equals(cocktail.creatorId)) { %>
                        <form action='/cocktails/<%= cocktail._id %>/ingredients/<%= i._id %>?_method=DELETE' method='POST' id='delete-ingredient-from-cocktail-form'>
                            <button type="submit">REMOVE INGREDIENT</button>
                        </form>
                    <% } %>
                <% } %>
            <% }) %>
        </ul>
        <% if (user) { %>
            <% if (user._id.equals(cocktail.creatorId)) { %>
                <fieldset>
                    <legend>Add an Ingredient to the cocktail:</legend>
                    <form id='add-ingredient-to-cocktail' action='/cocktails/<%= cocktail._id %>/ingredients' method="POST">
                        <select name="ingredient">
                            <%- ingredientsList.map(i => `<option value="${i._id}">${i.name}</option>`).join('') %>
                        </select>
                        <label>Name of Ingredient Quantity (Oz, Part, Leafs, etc)</label>
                        <input type='text' name='quantityName'>
                        <label>Amount of Ingredient</label>
                        <input type='number' name='amount' step='any' min='0'>
                        <button type="submit">Add to Cocktail</button>
                    </form>
                </fieldset>
            <% } %>
        <% } %>
        <h2>Reviews:</h2>
        <h3> Average Rating:</h3><!--FIXME:-->
        <ul>
            <% cocktail.reviews.forEach(function(r) { %>
                <li>
                    <%= r.userName %> -
                    <%=r.rating %>/5 -
                    <%=r.text %>
                    -
                    <%= r.createdAt.toDateString().slice(4) %>
                    <% if (user) { %>
                        <% if (r.userId.equals(user._id)) { %>
                            <form action='/reviews/<%= r._id %>?_method=DELETE' method='POST' id='delete-review-form'>
                                <button type='submit'>X</button>
                            </form>
                        <% } %>
                    <% } %>
                </li>
            <% }) %>
        </ul>
        <% if (user) { %>
            <% if (!cocktail.reviews.find(review=> review.userId.equals(user._id))) { %>
                <fieldset>
                    <legend>User Review</legend>
                    <form id="add-review-form" method="POST" action="/cocktails/<%= cocktail._id %>/reviews">
                        <textarea name='text' id='add-text-input' form='add-review-form' rows="5" cols="33"></textarea>
                        <br>
                        <label for='add-rating-input'>Rating 0 to 5</label>
                        <input type='number' name='rating' id='add-rating-input' form='add-review-form' min='0' max='5' step='1' required>
                        <input type='submit' value='Add Review'>
                    </form>
                </fieldset>
            <% } else { %>
                <!--User has existing review on cocktail-->
                <fieldset>
                    <legend>User Review</legend>
                    <form id="edit-review-form" method="POST" action="/reviews/<%=cocktail.reviews.find(review => review.userId.equals(user._id))._id %>?_method=PUT">
                        <textarea name='text' id='edit-text-input' form='edit-review-form' rows="5" cols="33">
                        <%= cocktail.reviews.find(review => review.userId.equals(user._id)).text %>
                        </textarea>
                        <br>
                        <label for='edit-rating-input'>Rating 0 to 5</label>
                        <input type='number' name='rating' id='edit-rating-input' form='edit-review-form' min='0' max='5' step='1' required value='<%= cocktail.reviews.find(review => review.userId.equals(user._id)).rating %>'>
                        <input type='submit' value='Edit Review'>
                    </form>
                </fieldset>
            <% } %>
        <% } %>
    </body>
</html>