<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=cocktail.name %>
    </title>
</head>

<body>
    <h1>
        Welcome
        <%=user.name %>
    </h1>
    <h1>
        <%=cocktail.name %>
    </h1>
    <h2>
        <%=cocktail.family %>
    </h2>
    <h3>
        <%=cocktail.glass %>
    </h3>
    <p>
        <%= cocktail.directions %>
    </p>

    <h2>Reviews:</h2>
    <ul>
        <% cocktail.reviews.forEach(function(r) { %>
            <li>
                <%= r.userName %> -
                    <%=r.rating %>/5 -
                        <%=r.text %>
                            -
                            <%= r.createdAt.toDateString().slice(4) %>
                                -
                                <%= r.userId %>
                                    <%= user._id %>
                                        <% if (r.userId.equals(user._id)) { %>
                                            <form action='/reviews/<%= r._id %>?_method=DELETE' method='POST' id='delete-review-form'>
                                                <button type='submit'>X</button>
                                            </form>
                                            <% } %>
            </li>
            <% }) %>
    </ul>
    <% if (!cocktail.reviews.find(review => review.userId.equals(user._id))) { %>
        <form id="add-review-form" method="POST" action="/cocktails/<%= cocktail._id %>/reviews">
            <label for='add-text-input'>
            <textarea name='text' id='add-text-input' form='add-review-form' rows="5" cols="33">
            </textarea>
        </label>
            <br>
            <label for='add-rating-input'>Rating 0 to 5
            <input type='number' name='rating' id='add-rating-input' form='add-review-form' min='0' max='5' step='1' required>
        </label>
            <input type='submit' value='Add Review'>
        </form>
        <% } %>
            <% else  { %>
                <form id="edit-review-form" method="POST" action="/reviews/<%cocktail.reviews.find(review => review.userId.equals(user._id))._id %>?_method=PUT">
                    <label for='edit-text-input'>
            <textarea name='text' id='edit-text-input' form='edit-review-form' rows="5" cols="33">
            </textarea>
        </label>
                    <br>
                    <label for='edit-rating-input'>Rating 0 to 5
            <input type='number' name='rating' id='edit-rating-input' form='edit-review-form' min='0' max='5' step='1' required>
        </label>
                    <input type='submit' value='Add Review'>
                </form>
                <% } %>
</body>

</html>