<%- include('../partials/header') %>
<table id='list'>
    <thead>
        <tr>
            <th>Ingredient</th>
            <th>No. Cocktails</th>
            <th>No. Listed Varieties</th>
            <th>Average Rating</th>
        </tr>
    </thead>
    <tbody>
        <% ingredients.forEach(function(ingredient, index) { %>
            <tr>
                <td>
                    <a href='/ingredients/<%= ingredient._id %>'>
                        <%=ingredient.name %>
                    </a>
                </td>
                <td>
                    <%= numCocktails[index] %> 
                </td>
                <td>
                    <%= ingredient.varieties.length %> 
                </td>
                <td>
                    <% if (ratings[index]) { %>
                        <%= ratings[index] %> 
                    <% } else { %>
                        No Ratings Yet!
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
</body>
</html>